/* ================================= 
  Media Queries
==================================== */


	header,
	.menu,
	.row,
	ul {
		display: flex;
	}

	header,
	.menu,
	ul {
		width: 100%;
	}

	.row {
		max-width: 1000px;
		padding: 45px 0;
		margin: 0 auto;
		border-top: solid 1px #3a3a3a;
	}

	.col {
		flex: 1;
		height: auto;
	}

@media (min-width: 769px) {
	
	.menu {
		flex-direction: row;
		justify-content: center
	}

	.menu-btn {
		display: none;
	}

	.row {
		flex-direction: row;
	}

	/* Alternate row order 'nth of type' to target, as anchors now also children */
	.row:nth-of-type(even) {
		flex-direction: row-reverse;
	}

}

@media (max-width: 769px) {

	.menu, .sliding-u-l-r:after, li.space {
		display: none;
	}

	li.sliding-u-l-r a {
		padding: 2.5em;
		border-bottom: 1px solid #000;
		background: #3a3a3a;
		color: #fff;

	}

	li.sliding-u-l-r a:hover, 
	/* Add active state for click on mobile */ 
	li.sliding-u-l-r a:active {
		background: #000;
	}



	header {
		width: 100%;	
		flex-direction: column;
	}

	.row {
		flex-direction: column;
	}

	.col {
		width: 100%;
	}

	.img1, .img2 {
		height: 100vw;
	}

	/* Interim Class — Fix Borderbox/Flexbox issue */
	.tight {
		padding: 0 0 5em 0;
	}






	/* ---- Responsive Menu ---- */

	.menu {
		padding-top: 0;
		height: 5em;
	}

	.menu-btn {
		text-align: center;
		padding: 1.5em;
		/* ensure whole area clickable for mobile */
		height: 100%;
		width: 100%;
		/* added encase viewed at small viewport on desktop */
		cursor: pointer;
	}


	/* -- Burger Menu Icon
	.menu-btn span {
		display: block;
		width: 19px;
		height: 3px;
		margin: 4px 0;
		background: #3a3a3a;
		z-index: 99;
	}
	-- */

	.expand {
		display: flex;
		flex-direction: column;	
	}



}






